body {
  font-family: "Lato", sans-serif;
  overflow: auto;
background: white;
}

.wrapped {
  width: 100%;
  position: absolute;
  left: -100%;
  transition: all 1s linear;
  background: rgba(10, 10, 10, 0.7);
  height: 100vh;
  color: white;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

